<h1>Ingrese Productos</h1>
<form onsubmit="return addProduct(this)">
  <input type="text" name="title" id="title" placeholder="producto" />
  <input type="number" name="price" id="price" placeholder="Precio" />
  <input
    type="text"
    name="thumbnail"
    id="thumbnail"
    placeholder="URL de la imagen"
  />
  <input type="submit" value="Enviar" />
</form>