<h1>Productos</h1>
<div>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Imagen</th>
    </tr>
    <tbody id="productos">
    </tbody>
  </table>
  <p id="noProductos"> No hay productos </p>
</div>