    <form action="/productos" method="post">
        <input type="text" name="producto" id="producto" placeholder="producto">
        <input type="number" name="precio" id="precio" placeholder="Precio">
        <input type="text" name="imagen" id="imagen" placeholder="URL de la imagen">
        <button type="submit">Enviar</button>
    </form>
