<form action="/login" method="post">
    <input
    type="text"
    name="username"
    id="username"
    placeholder="Ingresá tu nombre"
    required
    />
    <button type="submit">Ingresar</button>
</form>