<h1>Ingrese Productos</h1>
<form onsubmit="return addProduct(this)">
  <input type="text" name="producto" id="producto" placeholder="producto" />
  <input type="number" name="precio" id="precio" placeholder="Precio" />
  <input type="text" name="imagen" id="imagen" placeholder="URL de la imagen" />
  <input type="submit" value="Enviar" />
</form>